div{
    width: 400px;
}

div img{
    width: 100%;
}

.lzy-lightbox-display{
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    background-color: rgba(51, 51, 51, 0.3);
    display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
            align-items: center;
            justify-content: center;
    height: 100%;
    position: fixed;
        top: 0;
        left: 0;
    padding: 25px;
    width: 100%;
}

.lzy-lightbox-display .lzy-modal{
    height: auto;
    width: auto;
}

.lzy-lightbox-display .lzy-modal img{
    height: auto;
        max-height: 600px;
    width: auto;
        max-width: 1024px;
}